.footer {
    background: $colorOrange;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0 20px;
    color: #fff;
}



.footer__wrapper-down {
    display: block;

    .footer__wrapper-right {}
}

.footer__wrapper-left {
    width: 100%;
    text-align: center;

    @media(max-width:$md4 + px) {
        display: block;
        margin-bottom: 0;

        &_down {
            max-width: 100%;
            width: 100%;
        }
    }
}

@media(max-width:$md4 + px) {

    .footer__wrapper-left_up,
    .footer__wrapper-right_up {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }

    .footer__wrapper-right_up {
        margin: 0 auto;
    }

    .footer__social-ico {
        margin-left: 15px;
    }

    .footer__left-title+.footer__left-title {
        margin-left: 0;
        margin-top: 50px;
    }

    .footer__wrapper-down {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .footer__wrapper-up {
        position: relative;
        margin-bottom: 20px;
    }

    .footer__right-time {
        position: absolute;
        width: 100%;
        margin: 0;
        text-align: center;
        left: 0;
        right: 0;
        max-width: 100%;
        bottom: 0;
    }

    .footer__social {
        justify-content: center;
        margin-bottom: 30px;
    }

    .footer__wrapper-down .footer__wrapper-left {
        width: 100%;
    }
}

.footer__left-title a {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
    text-decoration: underline;
}

.footer__wrapper-right {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 14px;
    margin-bottom: 15px;

    @media(max-width:$md3 + px) {
        display: block;
    }
}

.footer__right-time {
    max-width: 170px;
    width: 100%;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-left: 30px;
    opacity: 0.8;

    @media(max-width:$md3 + px) {
        margin-left: 0;
        margin-top: 15px;
    }
}

.support__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
}

.support__phone {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;

    a {
        display: block;
        position: relative;
        padding-left: 25px;
        display: block;
        color: #fff;
        white-space: nowrap;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &.phone-link {
            &::before {
                content: url(../img/phone-callWhite.svg);
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        &.email-link {
            font-size: 10px;
            line-height: 14px;

            &::before {
                content: url(../img/emailWhite.svg);
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

.footer__right-work-time {
    @media(max-width: $md4 + px) {
        margin-bottom: 20px;
    }
}

.work-time {

    &__title {
        font-weight: bold;
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    &__list {}

    &__elem {
        font-weight: bold;

        &:not(:last-child) {
            margin-bottom: 3px;
        }

        a {
            line-height: 20px;
        }
    }
}


.footer__social-ico {
    margin-left: 30px;
}

.social__icon+.social__icon {
    margin-left: 5px;
}

.footer__left-content {
    max-width: 250px;
    width: 100%;

    @media(max-width:$md4 + px) {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}


/* .footer__left-content+.footer__left-content {
    margin-left: 100px;
} */

.footer__left-links {
    margin-top: 15px;
    display: none;

    @media(max-width:$md4 + px) {
        li:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.footer__left-links a {
    color: #fff;
    font-size: 16px;

    @media(max-width:$md4 + px) {
        font-size: 14px;
    }
}

.footer__left-links li+li {
    margin-top: 10px;
}

.footer__social-text {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer__copy {
    font-size: 10px;
}

@media(max-width:$md5 + px) {
    .footer__left-links a {
        font-size: 12px;
    }

    .footer__social {
        margin-bottom: 30px;
    }

    .footer__social-text,
    .footer__copy {
        font-size: 10px;
    }

    .footer__wrapper-up {
        display: block;
    }

    .footer__right-support {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .footer__wrapper-up .footer__wrapper-left {
        margin-bottom: 50px;
    }

    .footer__right-time {
        max-width: 190px;
        text-align: left;
        position: relative;
        left: 0;
        top: 0;
    }

    .footer__wrapper-up {
        padding-bottom: 0;
    }

    .footer__social {
        text-align: left;
        justify-content: start;
    }

    .footer__copy {
        text-align: left;
    }
}

.footer__social-link--rate {
    display: inline-block;
    width: auto;
    font-size: 14px;
    background: $colorBlue;

    &:hover {
        background: #5dbaf8;
    }
}