<section id="benefits" class="benefits">
    <div class="container">
        <h2 class="benefits__title section-title">Чому варто взяти кредит у нас</h2>
        <div class="benefits__items">
            <div class="benefits__item">
                <div class="benefits__item-title">
                    <span>Безпека</span></div>
                <div class="benefits__item-text">Разом з нашими партнерами ми забезпечуємо безпеку кожної транзакції,
                    виконуваної на нашій платформі. Безпека наших користувачів - наш пріоритет</div>
            </div>
            <div class="benefits__item">
                <div class="benefits__item-title">
                    <span>Швидкість</span></div>
                <div class="benefits__item-text">Ми знаємо, що процес запозичення неприємний для наших користувачів.
                    Отже, виконання всієї транзакції можливо протягом 20 секунд і 3 торкань</div>
            </div>
            <div class="benefits__item">
                <div class="benefits__item-title">
                    <span>Ефективність</span>
                </div>
                <div class="benefits__item-text">Середня ефективна процентна ставка для наших позичальників всього 10%
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__item-title">
                    <span>Інтуітивність</span>
                </div>
                <div class="benefits__item-text">Наш інноваційний веб-сайт і мобільний додаток прозорі і інтуїтивно
                    зрозумілі для кожного з наших користувачів</div>
            </div>
            <div class="benefits__item">
                <div class="benefits__item-title">
                    <span>Автоматизація</span>
                </div>
                <div class="benefits__item-text">Всі процеси на нашій платформі повністю автоматизовані, що дозволяє
                    швидко і легко виконати всі транзакції</div>
            </div>
            <div class="benefits__item">
                <div class="benefits__item-title">
                    <span>Інновації</span>
                </div>
                <div class="benefits__item-text">Наша система штучного інтелекту дозволяє нам встановлювати кредитний
                    ліміт, який буде збільшуватися з подальшими успішними транзакціями</div>
            </div>
        </div>
        <button class="benefits-btn btn">Оформить кредит</button>
    </div>
</section>