<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__wrapper-up">
                <div class="footer__wrapper-left">
                    <div class="footer__left-content">
                        <div class="footer__left-title">
                            <a id="about-link" href="#">О компании</a>
                        </div>
                        <div class="footer__left-links footer__left-about">
                            <ul>
                                <li>
                                    <a href="">Правовая информация</a>
                                </li>
                                <li>
                                    <a href="">Кредитный договор</a>
                                </li>
                                <li>
                                    <a href="">Подтверждение</a>
                                </li>
                                <li>
                                    <a href="">Паспорт кредита</a>
                                </li>
                                <li>
                                    <a href="">Публичное предложение</a>
                                </li>
                                <li>
                                    <a href="">Согласие на обработку персональных данных</a>
                                </li>
                                <li>
                                    <a href="">Политика конфиденциальности</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__left-content">
                        <div class="footer__left-title">
                            <a id="useful-link" href="#">Полезные ссылки</a>
                        </div>
                        <div class="footer__left-links footer__left-useful">
                            <ul>
                                <li>
                                    <a href="">Акции</a>
                                </li>
                                <li>
                                    <a href="">Вопросы и ответы</a>
                                </li>
                                <li>
                                    <a href="">Новости</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer__wrapper-right">
                    <div class="footer__right-support">
                        <div class="support__title">Служба поддержки</div>
                        <div class="support__phone">
                            <a href="#">+38 (044) 338-07-79</a>
                        </div>
                    </div>
                    <div class="footer__right-time">Время работы: с 9:00 до 18:00 без перерыва и выходных</div>
                </div>
            </div>
            <div class="footer__wrapper-down">
                <div class="footer__wrapper-left">
                    <div class="footer__copy">© 2020 “Easy Cash”. Все права защищены</div>
                </div>
                <div class="footer__wrapper-right">
                    <div class="footer__social">
                        <div class="footer__social-text">Мы в социальных сетях:</div>
                        <div class="footer__social-ico">
                            <a href="#" class="social__icon">
                                <img src="img/instagram.png" alt="">
                            </a>
                            <a href="#" class="social__icon">
                                <img src="img/facebook.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>