<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__wrapper-up">
                <div class="footer__right-support footer__wrappe-col">
                    <div class="support__title">Служба поддержки</div>
                    <div class="support__phone">
                        <a class="phone-link" href="tel:0800210804">0 (800) 210 804</a>
                        <a class="phone-link" href="#">+38 (044) 205-33-76</a>
                        <a class="phone-link" href="#">+38 (044) 364-35-26</a>
                        <a class="email-link" href="office@buc.com.ua">office@buc.com.ua</a>
                    </div>
                </div>
                <div class="footer__right-work-time footer__wrappe-col">
                    <div class="work-time__title">Графiк роботи:</div>
                    <ul class="work-time__list">
                        <li class="work-time__elem">Вiддiления: Пн-Пт: 09:00-18:00</li>
                        <li class="work-time__elem">Call Center: Пн-Пт: 08:00-19:00</li>
                        <li class="work-time__elem">
                            <a href="#">Регiональная мережа</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__wrappe-col">
                    <div class="work-time__title">Графiк роботи:</div>
                    <ul class="work-time__list">
                        <li class="work-time__elem">Вiддiления: Пн-Пт: 09:00-18:00</li>
                        <li class="work-time__elem">Call Center: Пн-Пт: 08:00-19:00</li>
                        <li class="work-time__elem">
                            <a href="#">Регiональная мережа</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__social footer__wrappe-col">
                    <div class="footer__social-text">Оценiте нас!</div>
                    <a href="#" class="footer__social-link--rate btn">
                        Опитування
                    </a>
                </div>

            </div>
            <div class="footer__wrapper-down">
                <div class="footer__wrapper-right">
                    <div class="footer__social">
                        <a href="" class="footer__social-link">
                            <img src="img/icon/fb.jpg" alt="">
                        </a>
                        <a href="" class="footer__social-link ">
                            <img src="img/icon/telegram.jpg" alt="">
                        </a>
                    </div>

                </div>
                <div class="footer__wrapper-left">
                    <div class="footer__copy">© 2020 “Easy Cash”. Все права защищены</div>
                </div>
            </div>
        </div>
    </div>
</footer>