<section class="how">
    <div class="container how-container">
        <h2 class="how__title section-title">Як це працює</h2>
        <div class="how__items">
            <div class="how__item">
                <div class="how__item-img">
                    <img src="img/how-login.png" alt="login">
                </div>
                <div class="how__item-title">Регістрация</div>
                <div class="how__item-text">
                    Ви- офіційний член нашої родини!
                </div>
            </div>
            <div class="how__item">
                <div class="how__item-img">
                    <img src="img/how-file.png" alt="file">
                </div>
                <div class="how__item-title">Заключити договір</div>
                <div class="how__item-text">
                    На протязі 20 секунд та 3 кліків по екрану
                </div>
            </div>
            <div class="how__item">
                <div class="how__item-img">
                    <img src="img/how-card.png" alt="card">
                </div>
                <div class="how__item-title">Отримати кредит</div>
                <div class="how__item-text">
                    У вас є гроші на рахунку,
                    витрачайте їх на що хочете, не відчуваючи себе винуватим
                </div>
            </div>
        </div>
    </div>
</section>