<section class="intresting">
    <div class="container intresting-container">
        <h2 class="intresting-title section-title">Новини</h2>
        <div class="intresting-slider">
            <div class="news__block-item news-block">
                <a href="#" class="news-block__link">
                    <img class="news-block__photo" src="img/news_1.png" alt="">
                    <div class="news-block__content">
                        <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                        </div>
                        <div class="news-block__data">
                            <svg class="svg-date">
                                <use xlink:href="./img/icons/icons.svg#date"></use>
                            </svg>
                            23 мая 2020
                        </div>
                    </div>
                </a>
            </div>
            <div class="news__block-item news-block">
                <a href="#" class="news-block__link">
                    <img class="news-block__photo" src="img/news_2.png" alt="">
                    <div class="news-block__content">
                        <div class="news-block__title">Як взяти кредит і залишитися в плюсі
                        </div>
                        <div class="news-block__data">
                            <svg class="svg-date">
                                <use xlink:href="./img/icons/icons.svg#date"></use>
                            </svg>
                            23 мая 2020
                        </div>
                    </div>
                </a>
            </div>
            <div class="news__block-item news-block">
                <a href="#" class="news-block__link">
                    <img class="news-block__photo" src="img/news_3.png" alt="">
                    <div class="news-block__content">
                        <div class="news-block__title">Безпека платежів в інтернеті - все що потрібно знати
                        </div>
                        <div class="news-block__data">
                            <svg class="svg-date">
                                <use xlink:href="./img/icons/icons.svg#date"></use>
                            </svg>
                            23 мая 2020
                        </div>
                    </div>
                </a>
            </div>
            <div class="news__block-item news-block">
                <a href="#" class="news-block__link">
                    <img class="news-block__photo" src="img/news_1.png" alt="">
                    <div class="news-block__content">
                        <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                        </div>
                        <div class="news-block__data">
                            <svg class="svg-date">
                                <use xlink:href="./img/icons/icons.svg#date"></use>
                            </svg>
                            23 мая 2020
                        </div>
                    </div>
                </a>
            </div>
            <div class="news__block-item news-block">
                <a href="#" class="news-block__link">
                    <img class="news-block__photo" src="img/news_2.png" alt="">
                    <div class="news-block__content">
                        <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                        </div>
                        <div class="news-block__data">
                            <svg class="svg-date">
                                <use xlink:href="./img/icons/icons.svg#date"></use>
                            </svg>
                            23 мая 2020
                        </div>
                    </div>
                </a>
            </div>
            <div class="news__block-item news-block">
                <a href="#" class="news-block__link">
                    <img class="news-block__photo" src="img/news_3.png" alt="">
                    <div class="news-block__content">
                        <div class="news-block__title">Безпека платежів в інтернеті - все що потрібно знати
                        </div>
                        <div class="news-block__data">
                            <svg class="svg-date">
                                <use xlink:href="./img/icons/icons.svg#date"></use>
                            </svg>
                            23 мая 2020
                        </div>
                    </div>
                </a>
            </div>
            <div class="news__block-item news-block">
                <a href="#" class="news-block__link">
                    <img class="news-block__photo" src="img/news_1.png" alt="">
                    <div class="news-block__content">
                        <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                        </div>
                        <div class="news-block__data">
                            <svg class="svg-date">
                                <use xlink:href="./img/icons/icons.svg#date"></use>
                            </svg>
                            23 мая 2020
                        </div>
                    </div>
                </a>
            </div>
            <div class="news__block-item news-block">
                <a href="#" class="news-block__link">
                    <img class="news-block__photo" src="img/news_2.png" alt="">
                    <div class="news-block__content">
                        <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                        </div>
                        <div class="news-block__data">
                            <svg class="svg-date">
                                <use xlink:href="./img/icons/icons.svg#date"></use>
                            </svg>
                            23 мая 2020
                        </div>
                    </div>
                </a>
            </div>
            <div class="news__block-item news-block">
                <a href="#" class="news-block__link">
                    <img class="news-block__photo" src="img/news_3.png" alt="">
                    <div class="news-block__content">
                        <div class="news-block__title">Безпека платежів в інтернеті - все що потрібно знати
                        </div>
                        <div class="news-block__data">
                            <svg class="svg-date">
                                <use xlink:href="./img/icons/icons.svg#date"></use>
                            </svg>
                            23 мая 2020
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>