<section class="online">
    <div class="container online-container">
        <h2 class="online__title section-title">Про сервіс</h2>
        <div class="online__inner">
            <div class="online__content">
                <div class="online__content-title">Будь тим, ким ти хочеш</div>
                <div class="online__content-text">
                    <span>Еpeer - це інноваційна платформа, яка використовує штучний інтелект для зв’язку інвесторів та
                        позичальників на веб-сайті та мобільному додатку.
                    </span>
                </div>
                <a href="" class="online__content-link">
                    <span>Читати далі</span>
                    <svg class="Arrow-link">
                        <use xlink:href="./img/icons/icons.svg#Arrow-link"></use>
                    </svg>
                </a>
            </div>
            <div class="online__images">
                <img src="img/online.jpg" alt="">
            </div>
        </div>
    </div>
</section>