<section class="statistic">
    <div class="container statistic-container">
        <h3 class="statistic__title section-title">Статистика</h3>
        <div class="statistic__wrapper">
            <div class="statistic__wrapper-item statistic-item">
                <div class="statistic-item__circle statistic-item__circle--blue">
                    <svg width="203" height="203" viewBox="0 0 203 203" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle opacity="0.5" r="98" transform="matrix(-1 0 0 1 101.5 101.5)" stroke="#CBCCC4"
                            stroke-opacity="0.4" stroke-width="7" />
                        <path
                            d="M102.774 6.3192C102.774 3.39144 105.168 1.01359 108.09 1.19799C161.069 4.54154 203 48.3926 203 101.997C203 157.779 157.592 203 101.578 203C75.4168 203 51.5692 193.136 33.5806 176.939C31.5224 175.085 31.4209 171.931 33.245 169.846C35.2482 167.557 38.7638 167.458 41.0357 169.481C57.1077 183.791 78.3226 192.49 101.578 192.49C151.763 192.49 192.447 151.975 192.447 101.997C192.447 54.156 155.169 14.9861 107.963 11.7227C105.092 11.5242 102.774 9.19694 102.774 6.3192Z"
                            fill="url(#paint0_linear)" />
                        <defs>
                            <linearGradient id="paint0_linear" x1="144.5" y1="20.5" x2="116.5" y2="203"
                                gradientUnits="userSpaceOnUse">
                                <stop stop-color="#0B356B" />
                                <stop offset="1" stop-color="#2C8CE4" />
                            </linearGradient>
                        </defs>
                    </svg>


                    <div class="statistic-item__val statistic-item__val--blue">
                        9%
                    </div>
                </div>
                <div class="statistic-item__descr">Середня ефективна ставка по нашим кредитам</div>
            </div>
            <div class="statistic__wrapper-item statistic-item">
                <div class="statistic-item__circle statistic-item__circle--yellow">
                    <svg width="203" height="203" viewBox="0 0 203 203" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle opacity="0.5" r="98" transform="matrix(-1 0 0 1 101.5 101.5)" stroke="#CBCCC4"
                            stroke-opacity="0.4" stroke-width="7" />
                        <path
                            d="M102.774 6.3192C102.774 3.39144 105.168 1.01359 108.09 1.19799C161.069 4.54154 203 48.3926 203 101.997C203 157.779 157.592 203 101.578 203C75.4168 203 51.5692 193.136 33.5806 176.939C31.5224 175.085 31.4209 171.931 33.245 169.846C35.2482 167.557 38.7638 167.458 41.0357 169.481C57.1077 183.791 78.3226 192.49 101.578 192.49C151.763 192.49 192.447 151.975 192.447 101.997C192.447 54.156 155.169 14.9861 107.963 11.7227C105.092 11.5242 102.774 9.19694 102.774 6.3192Z"
                            fill="url(#paint0_linear)" />
                        <defs>
                            <linearGradient id="paint0_linear" x1="144.5" y1="20.5" x2="116.5" y2="203"
                                gradientUnits="userSpaceOnUse">
                                <stop stop-color="#0B356B" />
                                <stop offset="1" stop-color="#2C8CE4" />
                            </linearGradient>
                        </defs>
                    </svg>

                    <div class="statistic-item__val statistic-item__val--yellow">
                        20с
                    </div>
                </div>
                <div class="statistic-item__descr">Середня тривалість операції</div>
            </div>
            <div class="statistic__wrapper-item statistic-item">
                <div class="statistic-item__circle statistic-item__circle--green">
                    <svg width="203" height="203" viewBox="0 0 203 203" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle opacity="0.5" r="98" transform="matrix(-1 0 0 1 101.5 101.5)" stroke="#CBCCC4"
                            stroke-opacity="0.4" stroke-width="7" />
                        <path
                            d="M100.226 6.3192C100.226 3.39144 97.8316 1.01359 94.9096 1.19799C41.9305 4.54154 0 48.3926 0 101.997C0 157.779 45.4082 203 101.422 203C127.583 203 151.431 193.136 169.419 176.939C171.478 175.085 171.579 171.931 169.755 169.846C167.752 167.557 164.236 167.458 161.964 169.481C145.892 183.791 124.677 192.49 101.422 192.49C51.2366 192.49 10.5532 151.975 10.5532 101.997C10.5532 54.156 47.8306 14.9861 95.0367 11.7227C97.9076 11.5242 100.226 9.19694 100.226 6.3192Z"
                            fill="url(#paint0_linear)" />
                        <defs>
                            <linearGradient id="paint0_linear" x1="58.5" y1="20.5" x2="86.5" y2="203"
                                gradientUnits="userSpaceOnUse">
                                <stop stop-color="#0B356B" />
                                <stop offset="1" stop-color="#2C8CE4" />
                            </linearGradient>
                        </defs>
                    </svg>


                    <div class="statistic-item__val statistic-item__val--green">
                        3000
                    </div>
                </div>
                <div class="statistic-item__descr">Дотиків до екрану</div>
            </div>
        </div>
    </div>
</section>